.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  border: none;
  background: transparent;
  cursor: pointer;

  &--contained {
    height: 60px;
    color: #FFF;
    background-color: $accent;
    border-radius: 40px;
    padding: 0 48px;
  }
}
