@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-regular.woff') format('woff'); 
}
/* poppins-500 */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-500.woff') format('woff'); 
}
/* poppins-600 */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), 
       url('../fonts/poppins-v20-latin-600.woff') format('woff'); 
}
/* cal-sans-600 */
@font-face {
  font-display: swap; 
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/CalSans-SemiBold.woff2') format('woff2'), 
       url('../fonts/CalSans-SemiBold.woff') format('woff'); 
}
